.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */



.container {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(104, 68, 68);
  border-radius: 8px;
  margin: 50px auto;
  border: 1px solid black;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.header button:hover {
  background-color: #0056b3;
}

.note-list {
  display: flex;
  flex-direction: column;
}

.note-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.note-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.note-card p {
  margin: 5px 0;
  color: #666;
}

.note-card button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.note-card button:hover {
  background-color: #e60000;
}

.note-card button:last-child {
  background-color: #007bff;
}

.note-card button:last-child:hover {
  background-color: #0056b3;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 500px;
  margin: auto;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
